<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <label for="email">Email: </label>
  <input formControlName="email" id="email" type="text">

  <label for="country">Country: </label>
  <select formControlName="country" id="country">
    <option value="be">België</option>
    <option value="nl">Nederland</option>
    <option value="fr">Frankrijk</option>
  </select>

  <div class="confirm">
    <input formControlName="confirmed" id="confirm" type="checkbox">
    <label for="confirm">Dit moet aangevinkt zijn</label>
  </div>

  <button [disabled]="!form.valid" type="submit">Submit</button>
</form>
