<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="email">Email: </label>
  <input id="email" type="text" formControlName="email">

  <label for="country">Country: </label>
  <select id="country" formControlName="country">
    <option value="be">België</option>
    <option value="nl">Nederland</option>
    <option value="fr">Frankrijk</option>
  </select>

  <div class="confirm">
    <input id="confirm" formControlName="confirmed" type="checkbox">
    <label for="confirm">Dit moet aangevinkt zijn</label>
  </div>

  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>
